.container {
  width: 100%;
  background-color: var(--bg-color-3);
  color: var(--fg-color-3);
  padding: 3rem;
}

.container .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.contact {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 25rem;
  width: 100%;
  text-align: center;
}

.contact .form .inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.contact .form .inputs .input {
  flex: 1;
}

.contact .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact .socials .icons {
  display: flex;
  gap: 1rem;
}

.contact .socials .icons .icon {
  width: 3rem;
  height: 3rem;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .bottom {
    flex-direction: column;
  }

  .contact {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 3rem 1.5rem;
  }

  .contact .form .inputs {
    flex-direction: column;
  }
}
