.container {
  scroll-margin-top: var(--header-height);
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  width: 100%;
  padding: 3rem;
  margin: 2rem auto;
  gap: 5rem;
}

.container .left,
.container .right {
  position: relative;
}

.container .left {
  display: flex;
  align-items: center;
  padding-right: 5rem;
  flex: 3;
  height: fit-content;
}

.container .left .secondaryImage,
.container .left .mainImage {
  border-radius: 1rem;
}

.container .left .mainImage {
  width: 100%;
  height: auto;
  transition-delay: 0.2s;
}

.container .left .secondaryImage {
  position: absolute;
  right: 0;
  height: 70%;
  width: auto;
  border: 6px var(--bg-color-1) solid;
  transition-delay: 0.6s;
}

.container .right {
  flex: 4;
}

.container .right h1 {
  font-size: 3rem;
  transition-delay: 0.4s;
}

.container .right p {
  transition-delay: 0.4s;
}

.container .right h1,
.container .right p {
  margin: 1rem 0;

}

.container .right ul {
  transition-delay: 0.4s;
}

.fadeIn {
  opacity: 0;
  transform: translateY(2rem);

  transition: 
    opacity 1s ease,
    transform 1s ease;
}

.visible .fadeIn {
  opacity: 1;
  transform: translateY(0);
}
