.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container input,
.container textarea {
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
  border: none;

  transition:
    background-color ease 0.3s,
    border ease 0.3s,
    color ease 0.3s;
}

.grow {
  flex: 1;
}

.container .label {
  color: var(--fg-1);
  opacity: 0.7;
  width: 100%;
}

.container.error input,
.container.error textarea {
  border: 1px solid var(--error-fg-1);
  color: var(--error-fg-1);
  background-color: var(--error-bg-1);
}

.container .errorMessage {
  color: var(--error-fg-1);
}
